In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
books = pd.read_csv('Cleandata.csv')
rating = pd.read_csv('rating_clean.csv')

In [3]:
books.head()

,Id,Book,Authors,Publisher,PublishYear,NumberOfPages,1_Starrating,2_Starrating,3_Starrating,4_Starrating,5_Starrating,TotalRating,Avg_Rating
0,1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling,Scholastic Inc.,2006,652,9896,25317,159960,556485,1546466,2298124,4.57
1,2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling,Scholastic Inc.,2004,870,12455,37005,211781,604283,1493113,2358637,4.50
2,3,Harry Potter and the Sorcerer's Stone (Harry P...,J.K. Rowling,Scholastic Inc,2003,309,108202,130310,567458,1513191,4268227,6587388,4.47
3,4,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,Scholastic,2003,352,11896,49353,288821,706082,1504505,2560657,4.42
4,5,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling,Scholastic Inc.,2004,435,10128,24849,194848,630534,1749958,2610317,4.57

In [4]:
books.shape

(1678763, 13)

In [5]:
rating.head()

   ID                                               Book  User Rating
0   1  Agile Web Development with Rails: A Pragmatic ...            5
1   1  The Restaurant at the End of the Universe (Hit...            5
2   1                                         Siddhartha            5
3   1  The Clock of the Long Now: Time and Responsibi...            4
4   1            Ready Player One (Ready Player One, #1)            4

In [6]:
rating.shape

(362161, 3)

In [7]:
books.duplicated().sum()

0

In [8]:
rating.duplicated().sum()

0

In [9]:
rating.shape

(362161, 3)

In [10]:
books.shape

(1678763, 13)

## Popularity Based Recommendations

In [11]:
new_df = rating.merge(books,on='Book',how='left')

- new_df will have all the columns from both rating and books dataframes, with the rows aligned based on the matching Book values. This allows you to combine information from both dataframes into a single dataframe, where you can perform further analysis or visualization.

In [12]:
new_df.rename({"ID":"User_id",'Id':'Book_id'},inplace = True,axis = 1)

In [13]:
new_df.shape

(1048138, 15)

In [14]:
new_df

,User_id,Book,User Rating,Book_id,Authors,Publisher,PublishYear,NumberOfPages,1_Starrating,2_Starrating,3_Starrating,4_Starrating,5_Starrating,TotalRating,Avg_Rating
0,1,Agile Web Development with Rails: A Pragmatic ...,5,45.0,Dave Thomas,Pragmatic Bookshelf,2005.0,558.0,56.0,124.0,500.0,820.0,580.0,2080.0,3.84
1,1,The Restaurant at the End of the Universe (Hit...,5,8695.0,Douglas Adams,Del Rey,2005.0,250.0,894.0,4755.0,33780.0,84285.0,94958.0,218672.0,4.22
2,1,The Restaurant at the End of the Universe (Hit...,5,862825.0,Douglas Adams,Harmony,1981.0,250.0,1062.0,5003.0,34468.0,85777.0,96542.0,222852.0,4.22
3,1,Siddhartha,5,4197.0,Hermann Hesse,Kessinger Publishing,2004.0,96.0,12741.0,31429.0,104359.0,180285.0,218286.0,547100.0,4.02
4,1,Siddhartha,5,87246.0,Hermann Hesse,Shambhala,2000.0,144.0,12768.0,31505.0,104665.0,180944.0,219287.0,549169.0,4.02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048133,10986,J. D. Salinger's The Catcher in the Rye,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048134,10988,Facing the Lion: Growing Up Maasai on the Afri...,3,127180.0,Joseph Lemasolai Lekuton,National Geographic Children's Books,2005.0,128.0,28.0,73.0,284.0,461.0,334.0,1180.0,3.85
1048135,10988,Facing the Lion: Growing Up Maasai on the Afri...,3,1090919.0,Joseph Lemasolai-Lekuton,National Geographic Children's Books,2003.0,144.0,28.0,73.0,286.0,469.0,337.0,1193.0,3.85
1048136,10988,Homeless Bird,3,243229.0,Gloria Whelan,HarperCollins,2001.0,192.0,191.0,510.0,2353.0,4344.0,4328.0,11726.0,4.03
1048137,10988,Homeless Bird,3,546629.0,Gloria Whelan,Scholastic,2001.0,216.0,191.0,511.0,2360.0,4368.0,4343.0,11773.0,4.03

In [15]:
## Taking books and num of rating perform on that Books

In [16]:
num_rating_df = new_df.groupby('Book').count()['User Rating'].reset_index()
num_rating_df.rename({'User Rating':"num_rating"},inplace=True,axis = 1)

- num_rating_df provides a summary of the number of ratings for each book in the merged dataframe new_df. This information can be useful for analyzing the popularity of different books and for identifying which books have more user ratings in the dataset.

In [17]:
num_rating_df

                                                     Book  num_rating
0                                         !آنچه سینما هست           1
1                    !از قر و قمبیل‌های قلمی بی‌قال و قیل           1
2                                       " Talking Heads "           1
3       "A Problem from Hell": America and the Age of ...          11
4                                       "A" Is for Africa           1
...                                                   ...         ...
103528    달빛 조각사 8 (The Legendary Moonlight Sculptor, #8)           1
103529    달빛 조각사 9 (The Legendary Moonlight Sculptor, #9)           1
103530                                        모리와 함께한 화요일           1
103531                                                  흰           1
103532  �come Closer�: Critical Perspectives on Theatr...           1

[103533 rows x 2 columns]

In [18]:
## Similarly we are find average rating of Book

In [19]:
avg_rating_df = new_df.groupby('Book').mean()['User Rating'].reset_index()
avg_rating_df.rename({'User Rating':"avg_rating"},inplace=True,axis = 1)
avg_rating_df

                                                     Book  avg_rating
0                                         !آنچه سینما هست         2.0
1                    !از قر و قمبیل‌های قلمی بی‌قال و قیل         5.0
2                                       " Talking Heads "         2.0
3       "A Problem from Hell": America and the Age of ...         4.0
4                                       "A" Is for Africa         3.0
...                                                   ...         ...
103528    달빛 조각사 8 (The Legendary Moonlight Sculptor, #8)         4.0
103529    달빛 조각사 9 (The Legendary Moonlight Sculptor, #9)         4.0
103530                                        모리와 함께한 화요일         5.0
103531                                                  흰         4.0
103532  �come Closer�: Critical Perspectives on Theatr...         4.0

[103533 rows x 2 columns]

- avg_rating_df provides a summary of the average rating for each book in the merged dataframe new_df. This information can be useful for analyzing the overall quality or popularity of different books, and for identifying which books have a higher average rating in the dataset. It can also be used to compare the ratings of different books against each other.

## Merging two values num_rating_df and avg_rating_df on top of Book-Title

In [20]:
popular_df = num_rating_df.merge(avg_rating_df,on = 'Book')

- num_rating_df contains the count of ratings for each book, while avg_rating_df contains the average rating for each book. By merging these two dataframes on the Book column, popular_df combines the information about the number of ratings and the average rating for each book in a single dataframe.
- popular_df provides a summary of the popularity of different books based on the number of ratings and the average rating. This information can be useful for identifying which books are both popular and well-rated, or which books are popular despite having a lower average rating. The merged dataframe popular_df allows for easy comparison of these two metrics across all books in the dataset.

In [21]:
popular_df

,Book,num_rating,avg_rating
0,!آنچه سینما هست,1,2.0
1,!از قر و قمبیل‌های قلمی بی‌قال و قیل,1,5.0
2,""" Talking Heads """,1,2.0
3,"""A Problem from Hell"": America and the Age of ...",11,4.0
4,"""A"" Is for Africa",1,3.0
...,...,...,...
103528,"달빛 조각사 8 (The Legendary Moonlight Sculptor, #8)",1,4.0
103529,"달빛 조각사 9 (The Legendary Moonlight Sculptor, #9)",1,4.0
103530,모리와 함께한 화요일,1,5.0
103531,흰,1,4.0
103532,�come Closer�: Critical Perspectives on Theatr...,1,4.0

## Considering only those book the num of rating is greater than equal to 50 
- because for proper remmendation book should have minimum 50 num of rating which i consider

In [22]:
Top_50 = popular_df[popular_df['num_rating']>=50].sort_values('avg_rating',ascending = False).head(50)

- Top_50 provides a summary of the 50 most popular and highly rated books in the dataset that have received 50 or more ratings. This information can be useful for identifying the most well-liked and widely-read books in the dataset, and for making recommendations to users based on their reading preferences.

In [23]:
Top_50

,Book,num_rating,avg_rating
63566,"Swann's Way (In Search of Lost Time, #1)",144,4.791667
21307,El Aleph,52,4.769231
69103,The Complete Poems,224,4.687500
72088,The Fire Next Time,160,4.675000
94481,"Wild Magic (Immortals, #1)",54,4.666667
65928,The Authoritative Calvin and Hobbes: A Calvin ...,60,4.666667
684,"84, Charing Cross Road",69,4.652174
70580,The Divan,64,4.625000
15586,Cosmos,117,4.615385
13977,Cien años de soledad,325,4.615385
39493,Le petit prince,61,4.606557
84470,The Swiss Family Robinson,70,4.600000
9478,Between the World and Me,125,4.592000
43809,Maus I: A Survivor's Tale: My Father Bleeds Hi...,72,4.569444
86166,"The Wake (The Sandman, #10)",64,4.562500
38768,Labyrinths: Selected Stories and Other Writings,104,4.557692
69162,The Complete Works,108,4.555556
39887,Les Fleurs du Mal,55,4.545455
94722,"Winnie-the-Pooh (Winnie-the-Pooh, #1)",70,4.542857
43810,Maus II: A Survivor's Tale: And Here My Troubl...,59,4.542373
74974,The Importance of Being Earnest and Other Plays,91,4.538462
100456,شعرها ١٣٢٣ - ١٣٧٨: دفتر یکم (مجموعه آثار #1),54,4.537037
8870,Becoming,95,4.515789
93853,Where the Wild Things Are,137,4.510949
80675,"The Power of One (The Power of One, #1)",63,4.507937
87107,The Wonderful Wizard of Oz,88,4.500000
60213,Sixty Stories,56,4.500000
58594,Selected Writings,108,4.500000
58590,Selected Works,52,4.500000
15382,Conversation in the Cathedral,50,4.480000
90238,Twenty Love Poems and a Song of Despair,63,4.476190
24111,"Fables & Reflections (The Sandman, #6)",76,4.473684
77343,The Magic Mountain,133,4.473684
39431,Le Petit Prince,477,4.471698
77024,"The Long Winter (Little House, #6)",85,4.470588
6395,Another Country,150,4.466667
76940,The Lone Ranger and Tonto Fistfight in Heaven,56,4.464286
48176,Night,336,4.464286
16751,Dandelion Wine,78,4.461538
69123,The Complete Sherlock Holmes,72,4.458333
81854,The Rise of Theodore Roosevelt,72,4.444444
19340,Discipline and Punish: The Birth of the Prison,135,4.444444
18342,Demons,54,4.444444
58565,Selected Short Stories,126,4.444444
65952,The Autobiography of Malcolm X,82,4.439024
59666,"Shōgun (Asian Saga, #1)",64,4.437500
8019,Bad Blood: Secrets and Lies in a Silicon Valle...,55,4.436364
24940,Ficciones,184,4.434783
77053,The Lorax,212,4.433962
29960,Harry Potter and the Deathly Hallows (Harry Po...,1800,4.433333

In [24]:
popular_df = Top_50.merge(books,on = 'Book').drop_duplicates('Book')[['Book','Authors','num_rating','avg_rating']]

- popular_df provides a summary of the top 50 most popular and highly rated books in the dataset that have received 50 or more ratings given by user, along with their corresponding authors, number of ratings, and average rating. This information can be useful for identifying the most well-liked and widely-read books and their authors, and for making recommendations to users based on their reading preferences.

In [25]:
popular_df = popular_df.reset_index(drop = True)
popular_df

,Book,Authors,num_rating,avg_rating
0,"Swann's Way (In Search of Lost Time, #1)",Marcel Proust,144,4.791667
1,El Aleph,Jorge Luis Borges,52,4.769231
2,The Complete Poems,Emily Brontë,224,4.687500
3,The Fire Next Time,James Baldwin,160,4.675000
4,"Wild Magic (Immortals, #1)",Tamora Pierce,54,4.666667
5,The Authoritative Calvin and Hobbes: A Calvin ...,Bill Watterson,60,4.666667
6,"84, Charing Cross Road",Helene Hanff,69,4.652174
7,The Divan,Hafez,64,4.625000
8,Cosmos,Witold Gombrowicz,117,4.615385
9,Cien años de soledad,Gabriel García Márquez,325,4.615385
10,Le petit prince,Antoine de Saint-Exupéry,61,4.606557
11,The Swiss Family Robinson,Johann David Wyss,70,4.600000
12,Maus I: A Survivor's Tale: My Father Bleeds Hi...,Art Spiegelman,72,4.569444
13,"The Wake (The Sandman, #10)",Neil Gaiman,64,4.562500
14,Labyrinths: Selected Stories and Other Writings,Jorge Luis Borges,104,4.557692
15,The Complete Works,William Shakespeare,108,4.555556
16,Les Fleurs du Mal,Charles Baudelaire,55,4.545455
17,"Winnie-the-Pooh (Winnie-the-Pooh, #1)",A.A. Milne,70,4.542857
18,The Importance of Being Earnest and Other Plays,Oscar Wilde,91,4.538462
19,"The Power of One (The Power of One, #1)",Bryce Courtenay,63,4.507937
20,The Wonderful Wizard of Oz,L. Frank Baum,88,4.500000
21,Sixty Stories,Donald Barthelme,56,4.500000
22,Selected Writings,Thomas Aquinas,108,4.500000
23,Selected Works,Jack London,52,4.500000
24,Conversation in the Cathedral,Mario Vargas Llosa,50,4.480000
25,Twenty Love Poems and a Song of Despair,Pablo Neruda,63,4.476190
26,"Fables & Reflections (The Sandman, #6)",Neil Gaiman,76,4.473684
27,The Magic Mountain,Thomas Mann,133,4.473684
28,Le Petit Prince,Antoine de Saint-Exupéry,477,4.471698
29,"The Long Winter (Little House, #6)",Laura Ingalls Wilder,85,4.470588
30,Another Country,James Baldwin,150,4.466667
31,The Lone Ranger and Tonto Fistfight in Heaven,Sherman Alexie,56,4.464286
32,Night,Elie Wiesel,336,4.464286
33,Dandelion Wine,Ray Bradbury,78,4.461538
34,The Complete Sherlock Holmes,Arthur Conan Doyle,72,4.458333
35,The Rise of Theodore Roosevelt,Edmund Morris,72,4.444444
36,Discipline and Punish: The Birth of the Prison,Michel Foucault,135,4.444444
37,Demons,Fyodor Dostoyevsky,54,4.444444
38,Selected Short Stories,William Faulkner,126,4.444444
39,The Autobiography of Malcolm X,Malcolm X,82,4.439024
40,"Shōgun (Asian Saga, #1)",James Clavell,64,4.437500
41,Ficciones,Jorge Luis Borges,184,4.434783
42,The Lorax,Dr. Seuss,212,4.433962
43,Harry Potter and the Deathly Hallows (Harry Po...,J.K. Rowling,1800,4.433333

In [26]:
popular_df.shape

(44, 4)

## collabarative Filtering based recommender System

## taking those users those who done a more than 200 ratings

In [27]:
x = new_df.groupby('User_id').count()['Book'] > 200
Good_Reader = x[x].index

- The resulting output is a Pandas Series containing a boolean value for each User_id, indicating whether they have rated more than 200 books or not. The boolean value is based on the comparison > 200 which returns True if the user has rated more than 200 books and False otherwise.
- Therefore, the resulting x Series can be used to identify users who have rated more than 200 books in the dataset. This information can be useful for analyzing the behavior of power users or heavy readers in the dataset, and for making recommendations to them based on their past reading preferences.

In [28]:
Good_Reader

Int64Index([    1,     2,     5,     8,     9,    14,    15,    18,    21,
               26,
            ...
            10896, 10914, 10919, 10936, 10950, 10953, 10962, 10969, 10978,
            10986],
           dtype='int64', name='User_id', length=1297)

## Taking only those column those who presents in Good_Reader

In [29]:
filter_rating = new_df[new_df['User_id'].isin(Good_Reader)]

In [30]:
filter_rating

,User_id,Book,User Rating,Book_id,Authors,Publisher,PublishYear,NumberOfPages,1_Starrating,2_Starrating,3_Starrating,4_Starrating,5_Starrating,TotalRating,Avg_Rating
0,1,Agile Web Development with Rails: A Pragmatic ...,5,45.0,Dave Thomas,Pragmatic Bookshelf,2005.0,558.0,56.0,124.0,500.0,820.0,580.0,2080.0,3.84
1,1,The Restaurant at the End of the Universe (Hit...,5,8695.0,Douglas Adams,Del Rey,2005.0,250.0,894.0,4755.0,33780.0,84285.0,94958.0,218672.0,4.22
2,1,The Restaurant at the End of the Universe (Hit...,5,862825.0,Douglas Adams,Harmony,1981.0,250.0,1062.0,5003.0,34468.0,85777.0,96542.0,222852.0,4.22
3,1,Siddhartha,5,4197.0,Hermann Hesse,Kessinger Publishing,2004.0,96.0,12741.0,31429.0,104359.0,180285.0,218286.0,547100.0,4.02
4,1,Siddhartha,5,87246.0,Hermann Hesse,Shambhala,2000.0,144.0,12768.0,31505.0,104665.0,180944.0,219287.0,549169.0,4.02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048129,10978,The Age of Kali: Indian Travels & Encounters,4,186538.0,William Dalrymple,Lonely Planet,2000.0,394.0,26.0,122.0,658.0,1425.0,950.0,3181.0,3.99
1048130,10978,Story-Wallah: Short Fiction from South Asian W...,4,181343.0,Shyam Selvadurai,Mariner Books,2005.0,448.0,5.0,12.0,84.0,104.0,91.0,296.0,3.89
1048131,10978,The Foundation: A Great American Secret: How P...,3,46642.0,Joel L. Fleishman,PublicAffairs,2007.0,357.0,2.0,12.0,37.0,36.0,26.0,113.0,3.64
1048132,10986,Cosette: The Sequel to Les Miserables,4,166821.0,Laura Kalpakian,HarperCollins Publishers,1995.0,652.0,40.0,39.0,88.0,54.0,60.0,281.0,3.20
1048133,10986,J. D. Salinger's The Catcher in the Rye,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

- filter_rating contains only the ratings of the users who have rated more than 200 books in the dataset. This filtered dataframe can be used for further analysis of the reading behavior and preferences of these high-volume readers, and for making personalized recommendations to them based on their past ratings.

In [31]:
more_than_50_rate = filter_rating.groupby('Book').count()['User Rating'] >=50
famous_books = more_than_50_rate[more_than_50_rate].index

- The resulting output is a Pandas Series containing boolean values for each book, indicating whether it has received 50 or more ratings from the Good_Reader users or not. The boolean value is based on the comparison >= 50, which returns True if the book has received 50 or more ratings and False otherwise
- more_than_50_rate Series can be used to identify the books that have received 50 or more ratings from the high-volume Good_Reader users. This information can be useful for identifying the most popular and widely-read books among these users, and for making recommendations to them based on their reading preferences.

In [32]:
famous_books.values

array(["'Salem's Lot", '11/22/63', '1776', ...,
       'چراغ\u200cها را من خاموش می\u200cکنم', 'چشمهایش',
       'یوزپلنگانی که با من دویده\u200cاند'], dtype=object)

In [33]:
final_rating = filter_rating[filter_rating['Book'].isin(famous_books)]

In [34]:
pt = final_rating.pivot_table(index = 'Book',columns = 'User_id',values = 'User Rating')

In [35]:
pt.fillna(0,inplace = True)
pt

User_id,1,2,5,8,9,14,15,18,21,26,...,10896,10914,10919,10936,10950,10953,10962,10969,10978,10986
Book,,,,,,,,,,,,,,,,,,,,,
'Salem's Lot,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11/22/63,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1776,5.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1984,5.0,0.0,0.0,0.0,5.0,0.0,5.0,0.0,4.0,0.0,...,4.0,0.0,4.0,4.0,5.0,0.0,0.0,0.0,0.0,5.0
1Q84,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
هشت کتاب,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
همنوایی شبانه‌ی ارکستر چوبها,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,2.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
چراغ‌ها را من خاموش می‌کنم,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,3.0,2.0,0.0,0.0,0.0
چشمهایش,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,3.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0
یوزپلنگانی که با من دویده‌اند,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## now we finding a eulidean distance between the books

In [36]:
from sklearn.metrics.pairwise import cosine_similarity

In [37]:
similarity_score = cosine_similarity(pt)

In [38]:
similarity_score

array([[1.        , 0.21304569, 0.05794405, ..., 0.        , 0.        ,
        0.        ],
       [0.21304569, 1.        , 0.07375447, ..., 0.        , 0.        ,
        0.        ],
       [0.05794405, 0.07375447, 1.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 1.        , 0.60639354,
        0.46541203],
       [0.        , 0.        , 0.        , ..., 0.60639354, 1.        ,
        0.42662793],
       [0.        , 0.        , 0.        , ..., 0.46541203, 0.42662793,
        1.        ]])

In [39]:

# Creating Recommendation Function
def recommend(BookName):
    try:
        # index fetch
        index = np.where(pt.index == BookName)[0][0]
#         index = np.where(pt.index == 'The Martian')[0][0]
        similar_items = sorted(list(enumerate(similarity_score[index])), key=lambda x: x[1], reverse=True)[1:6]

        data = []
        for i in similar_items:
            item = []
            temp_df = new_df[new_df['Book'] == pt.index[i[0]]]
            item.extend(list(temp_df.drop_duplicates('Book')['Book'].values))
            item.extend(list(temp_df.drop_duplicates('Book')['Authors'].values))
            data.append(item)

        return data

    except:
        print("Book Not Found in Database")

In [40]:
# books['Book']

In [41]:
# import numpy as np

# def recommend(Book_Name):
#     try:
#         # Get the index of the input book
#         index = np.where(pt.index==Book_Name)[0][0]
        
#         # Get the similarity scores between the input book and all other books,
#         # and sort them in descending order
#         similar_items = sorted(list(enumerate(similarity_score[index])),
#                                key=lambda x:x[1], reverse=True)[1:6]
        
#         # Get the book names corresponding to the top 5 similar books
# #         similar_books = [pt.index[i[0]] for i in similar_items]
        
#         # Print the similar book names
#         for i in similar_items:
#             print(pt.index[i[0]])
        
# #         return similar_books
    
#     except:
#         # Handle the case where the input book is not found in the DataFrame
#         print("Book Not Found in Database")

In [42]:
# import numpy as np

# def recommend(Book_Name):
#     try:
#         # Get the index of the input book
#         index = np.where(pt.index==Book_Name)[0][0]
        
#         # Get the similarity scores between the input book and all other books,
#         # and sort them in descending order
#         similar_items = sorted(list(enumerate(similarity_score[index])),
#                                key=lambda x:x[1], reverse=True)[1:6]
        
#         # Get the book names corresponding to the top 5 similar books
#         similar_books = [pt.index[i[0]] for i in similar_items]
        
#         return similar_books
    
#     except:
#         # Handle the case where the input book is not found in the DataFrame
#         print("Book not found in database.")
#     for i in similar_items:
# #         print(i[0]) it will give only index of books
#         print(pt.index[i[0]]) ## it will give us proper book

In [43]:
# def recommend(Book_Name):
#     #fething index
#     index = np.where(pt.index==Book_Name)[0][0]
# #     distance = similarity_score[index]
# #   list(enumerate(similarity_score[0])) # similarity scores of zero with all other books
# #   sorted(list(enumerate(similarity_score[0]))) # It will sort on basis of index but we have to sort on basis of values
#     similar_items = sorted(list(enumerate(similarity_score[index])),key=lambda x:x[1],reverse=True)[1:6] # we does not select 0th index because it show distance with own and gives maximum simiarity which is one
    
#     for i in similar_items:
# #         print(i[0]) it will give only index of books
#         print(pt.index[i[0]]) ## it will give us proper book

- list(enumerate(similarity_score[0])) # similarity scores of zero with all other books
- sorted(list(enumerate(similarity_score[0]))) # It will sort on basis of index but we have to sort on basis of values
- sorted(list(enumerate(similarity_score[0])),key=lambda x:x[1],reverse=True)[1:6] # we does not select 0th index because it show distance with own and gives maximum simiarity which is one

In [44]:
recommend("1984")

[['Animal Farm', 'George Orwell'],
 ['The Catcher in the Rye', 'J.D. Salinger'],
 ['Brave New World', 'Aldous Huxley'],
 ['The Great Gatsby', 'F. Scott Fitzgerald'],
 ['To Kill a Mockingbird', 'Harper Lee']]

In [45]:
import pickle
pickle.dump(famous_books,open('famous_books.pkl','wb'))

In [46]:
pickle.dump(similarity_score,open('similarity_score.pkl','wb'))

In [47]:
pickle.dump(pt,open('pt.pkl','wb'))

In [48]:
# pickle.dump(books,open('books.pkl','wb'))

In [49]:
pickle.dump(popular_df,open('popular_books.pkl','wb'))

In [50]:
## pickle.dump(rating,open('ratings.pkl','wb'))

In [51]:
pickle.dump(new_df,open('new_df.pkl','wb'))

In [52]:
index = np.where(pt.index == 'The Martian')[0][0]
index

1531

In [53]:
similar_items = sorted(list(enumerate(similarity_score[index])), key=lambda x: x[1], reverse=True)[1:6]
similar_items

[(1019, 0.47776262064306324),
 (1451, 0.4216141888533507),
 (1141, 0.40045393623556574),
 (27, 0.3940811667024176),
 (65, 0.3874394852196746)]

In [54]:
# for i in similar_items:
#             item = []
#             temp_df = new_df[new_df['Book'] == pt.index[i[0]]]
#             item.extend(list(temp_df.drop_duplicates('Book')['Book'].values))
#             item.extend(list(temp_df.drop_duplicates('Book')['Authors'].values))
#             print(item)

In [55]:
matrix = pt.values

In [56]:
matrix

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [5., 5., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [57]:
pt

User_id,1,2,5,8,9,14,15,18,21,26,...,10896,10914,10919,10936,10950,10953,10962,10969,10978,10986
Book,,,,,,,,,,,,,,,,,,,,,
'Salem's Lot,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11/22/63,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1776,5.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1984,5.0,0.0,0.0,0.0,5.0,0.0,5.0,0.0,4.0,0.0,...,4.0,0.0,4.0,4.0,5.0,0.0,0.0,0.0,0.0,5.0
1Q84,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
هشت کتاب,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
همنوایی شبانه‌ی ارکستر چوبها,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,2.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
چراغ‌ها را من خاموش می‌کنم,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,3.0,2.0,0.0,0.0,0.0
چشمهایش,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,3.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0
یوزپلنگانی که با من دویده‌اند,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [58]:
from sklearn.neighbors import NearestNeighbors
model_knn=NearestNeighbors(metric='cosine',algorithm='brute')
model_knn.fit(matrix)

NearestNeighbors(algorithm='brute', metric='cosine')

In [59]:
def get_recommends(book = ""):
  x=pt.loc[book].array.reshape(1, -1)
  distances,indices=model_knn.kneighbors(x,n_neighbors=6)
  R_books=[]
  for distance,indice in zip(distances[0],indices[0]):
    if distance!=0:
      R_book=pt.index[indice]
      R_books.append([R_book,distance])
  recommended_books=[book,R_books[::-1]]
  return recommended_books

In [60]:
get_recommends("1776")

['1776',
 [['Alexander Hamilton', 0.7911629744853503],
  ["Band of Brothers: E Company, 506th Regiment, 101st Airborne from Normandy to Hitler's Eagle's Nest",
   0.7824155447439267],
  ['Truman', 0.7824079424658484],
  ['The Rise of Theodore Roosevelt', 0.7741948809100447],
  ['John Adams', 0.5902081886836827],
  ['1776', 1.1102230246251565e-16]]]

In [61]:
recommend("1776")

[['John Adams', 'David McCullough'],
 ['The Rise of Theodore Roosevelt', 'Edmund Morris'],
 ['Truman', 'David McCullough'],
 ["Band of Brothers: E Company, 506th Regiment, 101st Airborne from Normandy to Hitler's Eagle's Nest",
  'Stephen E. Ambrose'],
 ['Alexander Hamilton', 'Ron Chernow']]

In [62]:


books = get_recommends("1776")
print(books)

def test_book_recommendation():
  test_pass = True
  recommends = get_recommends("1776")
  if recommends[0] != "1776":
    test_pass = False
  recommended_books = ["Alexander Hamilton", 'Band of Brothers: E Company', 'Truman', 'The Rise of Theodore Roosevelt']
  recommended_books_dist = [0.8, 0.77, 0.77, 0.77]
  for i in range(2): 
    if recommends[1][i][0] not in recommended_books:
      test_pass = False
    if abs(recommends[1][i][1] - recommended_books_dist[i]) >= 0.05:
      test_pass = False
  if test_pass:
    print("You passed the challenge! 🎉🎉🎉🎉🎉")
  else:
    print("You haven't passed yet. Keep trying!")

test_book_recommendation()

['1776', [['Alexander Hamilton', 0.7911629744853503], ["Band of Brothers: E Company, 506th Regiment, 101st Airborne from Normandy to Hitler's Eagle's Nest", 0.7824155447439267], ['Truman', 0.7824079424658484], ['The Rise of Theodore Roosevelt', 0.7741948809100447], ['John Adams', 0.5902081886836827], ['1776', 1.1102230246251565e-16]]]
You haven't passed yet. Keep trying!